@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .PhoneInputInput {
    outline: none;
  }

  .PhoneContainer:focus{
    border: 1px solid #0ea5e9;
    border-radius: 8px;
  }

  .react-datepicker__time-list-item--disabled{
    display: none;
  }